.homescreen {
  .landing {
    min-height: 100vh;

    .hero {
      height: 60vh;
      width: 100%;
      background-image: url("../public/images/kentucky-brandon-randolph.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 60%;
      margin-top: var(--defaultHeight);
    }

    .intro {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.2rem;
      height: 50vh;
      padding: 0 3rem;
      text-align: left;

      @include md-mobile {
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 1rem;
      }

      @include sm-mobile {
        font-weight: 400;
        line-height: 1.2em;
      }

      p:first-of-type {
        text-align: center;
      }

      p {
        margin: 1rem 3rem;
        text-align: left;
      }

      .contact-us {
        margin: 1rem auto;
        width: 20rem;
        text-align: center;
        padding: 0.75rem 2rem;
        background-color: $primaryColor;
        border-radius: 8px;
        color: #fff;
        transition: 0.2s;
      }

      .contact-us:hover {
        transform: scale(0.98);
        box-shadow: 0 10px 30px rgba(31, 31, 31, 0.3);
        background-color: $secondaryColor;
      }
    }
  }

  .when-to-hire {
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.8);
    color: #fff;

    h2 {
      font-weight: 500;
      font-size: 1.6rem;
      margin: 1rem auto 0;

      @include sm-mobile {
        text-align: center;
      }
    }

    .card-container {
      margin: 1rem auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;

      .card {
        color: #000;
        padding: 1rem;
        margin: 1rem auto;
        border-radius: 5px;
        width: 65%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: rgb(193, 212, 251);
        background: linear-gradient(
          241deg,
          rgba(193, 212, 251, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        );

        @include lg-mobile {
          width: 100%;
        }

        img {
          width: 80%;
          height: 200px;
          border-radius: 5px;
        }
      }

      .card:nth-child(even) img {
        order: 2;
        margin-left: 3rem;
      }
    }
  }
}
